data/tokenizers
__pycache__/
.DS_Store
modded-nanogpt/
modded-nanogpt
data/datasets
data/manifest.json
data/docs_selected.jsonl
.mypy_cache/
.venv
logs/
.venv*
*.pt
*.ptz
*.tar.gz
checkpoints/
local_runs/
records/track_10min_16mb/joaco_test_submission/


.env
